/* ApodComponent.css */

.Apod {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #cc76be;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .Apod img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
.Apod button{
  background-color: #420238;
  font-style: italic;
  color: #ebe1e9;
}
.Apod label{
  font-style: italic;
}
  
